
@import "../../../Styles/mixins";

.projects-list{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    list-style-type: none;
}

@media screen and (min-width: 992px){
    .projects-list{
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
    }
}