@import "../../Styles/mixins";

.socials{
  @include flex-center(row);
}

.socials svg{
    margin: 0 2rem;
}

// Socials modes
.socials.light svg{
    fill: black;
}

.socials.dark svg{
    fill: white;
}

.socials.light{
  border-left: 1px solid black;
}

.socials.dark{
  border-left: 1px solid white;
}


