@import "../../Styles/mixins";
@import "../../Styles/variables";

.socials{
  @include flex-center(row);
}

a.social{
  margin: 0 1rem;
  width: fit-content;
}

// Socials modes
.socials.light svg{
    fill: $light-color;
}

.socials.dark svg{
    fill: $dark-color;
}

@media screen and (min-width: 992px){
  a.social{
    margin: 0 2rem;
  }
}



