// Global Styling
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');
@import "../../Styles/variables";
@import "../../Styles/mixins";

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

.App{
    // border: 1px solid black;
    width: 100%;
    height: 100vh;
}

// Pages
.page.light{
    @include bottom-border($light-color);
}

.page.dark{
    @include bottom-border($dark-color);
}

h1{
    font-size: 24px;
}

h2{
    font-size: 16px;
}

a,p{
    font-size: 12px ;
}

a{
    text-decoration: none;
    color: inherit;
}

// Background colors
.light{
    background-color: $light-background;
}

.dark{
    background-color: $dark-background;
    color: white;
}

footer{
    @include page(10vh);
    @include flex-center(column);
}

// Media Query for desktop
@media screen and (min-width: 992px){
    // Headers
    h1{
        font-size: 64px;
    }

    h2{
        font-size: 36px;
    }

    a,p{
        font-size: 16px;
    }
}




