@import "../../Styles/mixins";
@import "../../Styles/variables";

.home.page{
    @include page(100vh);
    @include flex-center(column);
}

.home.page.light{
    @include bottom-border($light-color);
}

.home.page.dark{
    @include bottom-border($dark-color);
}

.home.page > *{
    // border: 1px solid black;
    margin: .5rem;
    text-align: center;
}

// Desktop
@media screen and (min-width: 992px){
    .home.page{
        height: 90vh;
    }

    .logo-container{
        display: none;
    }
}