// Page styling
@mixin page($height){
    min-height: $height;
    width: 100%;
}

@mixin bottom-border($mode){
    border-bottom: 1px solid $mode;
}

// Button styling
@mixin button {
    border: none;
    width: 75px;
    height: 40px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

@mixin flex-center($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}