@import "../../Styles/mixins";
@import "../../Styles/variables";

.projects.page{
    // border: 1px solid red;
    @include page(fit-content);
    @include flex-center(column);
}

// Modes for borders
.projects.page.light{
    @include bottom-border($light-color);
}
.projects.page.dark{
    @include bottom-border($dark-color);
}

// Projects container
.projects-container{
    width: 70%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container h1{
    text-align: center;
    width: 100%;
}

.projects-container > *{
    border: 1px solid red;
    // margin: 1rem 0;
}

// Projects list container
.projects-list-container{
    border: 1px solid black;
}

// Button
.see-more{
    @include button;
}

@media screen and (min-width: 992px){
    .projects-container h1{
        text-align: left;
    }
}
