@import "../../Styles/mixins";
@import "../../Styles/variables";

.projects.page{
    // border: 1px solid red;
    @include page(fit-content);
    @include flex-center(column);
}

// Projects container
.projects-container{
    width: 70%;
}

.projects-container h1{
    text-align: center;
    width: 100%;
    margin: 3rem 0;    
}

@media screen and (min-width: 992px){
    .projects.page{
        height: 100vh;
    }

    .projects-container h1, .projects-list > .project{
        text-align: left;
    }
}
