@import "../../Styles/variables";
@import "../../Styles/mixins";

.projects{
    @include page(auto);
    @include flex-center(column);
}

.projects-container{
    // border: 5px solid green;
    width: 80%;
    margin: 3rem 0;
}

.projects-container h1{
    width: 100%;
    text-align: center;
}
